
.heading{
    background-color: dodgerblue;
    padding-bottom: 40px;
   padding-top: 40px;
    padding-left: 25px;
    color:white;
    font-family: sans-serif;
    font-size: 20px;
}
.about{
    text-align: center;
    color: white;
}
.h1{
    color: white;
}
.exforum {
    background: url("../image/bgc.png") no-repeat center/cover;
    padding: 50px 30px;
    font-family: sans-serif;
}

.form{
    font-size: 75px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.sant{
    color: white;
    text-align: center;
    margin: 30px 0 15px;
    padding-top: 10px;
}
.font{
    color: white;
    background-color: blue;
    text-align: center;
    padding: 60px 0;
}

.yellow{
    background-color: yellow;
    text-align: center;
    padding: 60px 0;
    color:white;
}
.red{
    background-color: red;
    text-align: center;
    padding: 60px 0;
    color:white;
}
.aqua{
    background-color: aqua;
    text-align: center;
    padding: 60px 0;
    color:white;
}
.font h4 {
    margin-bottom: 15px;
}
.camp{
    text-align: right;
    color: black;
}
.lorem{
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
    font-family: sans-serif;
}
.ipsum {
    background-color: darkturquoise;
    padding: 15px;
    border-radius: 20px;
}
.rectangle {
    background-color: floralwhite;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 40px;
    font-family: sans-serif;
}
.box{
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.date{
    color:crimson;
}
.reit{
    text-align: center;
    color: white;
    background: aqua;
    padding: 40px 40px;
}
.reversed{
    font-weight: bold;
    text-align: center;
    color:white;
   padding-bottom: 30px;
    padding-top: 30px;
    background-color: cornflowerblue;
    margin-top: 50px;
    font-family: sans-serif;

}
.link{
    color: white;
    text-decoration: none;
}
.new{
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
.title{
    padding-bottom: 10px;
}
.contacts{
    padding-bottom: 10px;
}
.english{
    color: white;
}
